@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/* Style for index */
body {
    font-family: 'Cinzel', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Photos/image2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 100vh;
    position: relative;
}

header {
    background-color: #000;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack items vertically */
    height: 100vh; /* Full height of viewport */
    max-width: 800px;
    margin: 0 auto; /* Center horizontally */
    padding-bottom: 50px;
}

.intro {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 18px;
    margin-bottom: 10px; /* Reduce the bottom margin */
}

h1 {
    font-family: 'Cinzel', sans-serif;
    font-size: 100px; /* Increase the font size */
    margin-top: 5px; /* Reduce the top margin */
}

.main-content {
    padding: 20px;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* about page */
.about-content {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Spread item out */
    align-items: center; /* Center items vertically */
    max-width: 800px; /* Limit the width of the content */
    margin: 0 auto; /* Center the content horizontally */
}


.about-text {
    font-family:'Proxima Nova', sans-serif;
    flex: 1 1 auto; /* Allow to grow and shrink */
    text-align: left; /* Align text to the left */
    padding-left: 40px; 
    max-width: 50%;
}

/* Additional styles for the image */
.about-image img {
    max-width: 110%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    padding-right: 40px;
    
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-left: auto; /* Push the image to the right */
    margin-right: 30px; /* Adjust margin as needed */
    max-width: 50%;
}

/* contact page */
.contact-container {
    max-width: 600px;
    margin: 200px auto; /* Lowered margin */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
    color: #333;
}

.contact-container p {
    color: #666;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
