
/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 40px;
  }
  
  .logo a {
    color: #fff; /* Change the text color to white */
    text-decoration: none; /* Remove underline */
  }
  
  nav ul {
    margin-top:20px;  
    list-style-type: none;
    padding: 0;
  }

    nav ul li { 
        display: inline;
        margin-right: 40px;
    }

  nav ul li a {
      color: #ffffff;
      text-decoration: none;
  }

